html,body,#root {
	height: 100%;
}

.App {
	height: 100%;
	position: relative;
	overflow-y: hidden;
}

.leaflet-container {
	height: 100%;
	width: 100%;
}

.station-button {
	margin: 0;
	text-align: left;
	border: none;
	background: none;
	padding: 0.75rem;
	cursor: pointer;
}

.station-button:hover {
	background-color: #f1f5f9;
}

.station-list-container {
	transform: translateY(90.5%);
	transition: transform 250ms;
	width: 300px;
	border-top-right-radius: 0.5rem;
}

.station-list-container:hover {
	transform: translateY(0%);
}

@media only screen and (max-width: 768px) {
	.station-list-container {
		width: 100%;
		border-top-right-radius: 0;
	}
}